body {
    background-image: url("../../assets/yellowsubmarine.gif");
    background-repeat: repeat;
    background-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#quiz {
    background-color: white;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
}

.jumbotron {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

#main-container {
    background-color: white;
    border: solid black 3px;
    padding 10px;
    font-family: 'Times New Roman', Times, serif;
    width: 1000px;
    margin: 20px;
    padding: 20px;
}

#end_container {
    background-color: green;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

input[type="radio"] {
    font-size: 20px;
}